
.main_w { font-size: 14px; }

.main_l{ width:899px; margin:15px auto 20px; padding:15px 18px 0; background:#fff; overflow:hidden; }

.main_l .main_top{width:897px; height:auto; border:1px solid #ddd; overflow:hidden; font-size:12px;}
.main_l .mt_filter{width:100%; padding:5px 0; line-height:1.5em; overflow:hidden;}
.main_l .mtf_exp{border-bottom:1px dotted #ddd;}
.main_l .mt_filter dt{width:50px; text-align:right; margin:3px 20px 0 0; float:left; font-weight:bold; }
.main_l .mt_filter dd{width:809px; float:left;}
.main_l .mt_filter dd.mtf_sub{width:749px; margin:3px 0 3px 113px; padding:2px 0 2px 2px; border:1px solid #ddd; display:none; }
.main_l .mt_filter dd a{padding:0 5px; margin:3px; display:block; float:left;}
.main_l .mt_filter dd a.all{margin-right:9px;}
.main_l .mt_filter dd a:hover, .mt_filter dd a.hover{background:#f09215; color:#fff;}

.main_l .list_tab{width:899px; margin:0 auto; border-bottom:1px solid #f09215; overflow:hidden; margin-top:20px;}
.main_l .list_tab .tt_title{background:#f09215; color:#fff; width:110px; height:35px; line-height:35px; text-align:center;}

.main_l .search_view{ height:35px; width:202px; position:relative;}
.main_l .search_view .key_txt{ border:1px solid #ccc; width:200px; height:20px; padding:4px 0; line-height:20px; text-indent:0.5em;
                               box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); transition: border linear .2s,box-shadow linear .2s;}
.main_l .search_view .bnt_search{color:#bebebe; cursor:pointer; border-color:transparent; background:transparent; padding:5px 10px;
                                 line-height:15px; text-align:center; font-size:14px; position:absolute; top:0; right:0; }
.main_l .search_view .bnt_search:hover, .main_l .search_view .bnt_search:focus{color:#f09215;}
.main_l .search_view .bnt_search .iconfont{font-family:"fontello"; font-style: normal;}

.main_l .search_view2{ height:30px; padding:5px 10px 5px 40px; }
.main_l .search_view2 select.hy{ width:120px;}
.main_l .search_view2 .key_txt{ height:22px; width:120px;}
.main_l .search_view2 select{ width:92px; height:26px; margin-right:15px;}
.main_l .search_view2 .bnt_search{background:url(../images/service_ico.png) no-repeat -110px -75px; width:52px; height:30px; border:0; color:#FFFFFF;}

.main_l .list_main { border: 1px solid #ddd; overflow: hidden; margin: 10px 0 20px; }

.main_l .Info{ margin:15px 20px;}
.main_l .Info .infoview2{ margin-left:15px; width:720px;}
.main_l .Info .infoview2 .s_name{ color:#0055ad;}
.main_l .Info .infoview2 .s_d_name{ color:#0055ad; margin-left:50px;}
.main_l .Info .infoview2 dl{height:18px; line-height:20px;}
.main_l .Info .infoview2 dd{margin-bottom:5px;line-height:20px;}
.main_l .Info .infoview2 dd .detail{ color:#f09215; float:right;}
.main_l .Info .img_p2{width:93px; height:130px; border:1px solid #dddddd; text-align:center;overflow:hidden;position:relative;display:table-cell;text-align:center;vertical-align:middle;}
.main_l .Info p.img-box2{position:static;+position:absolute;top:50%; width:93px;}
.main_l .Info img.wh2{ max-width:93px; max-height:130px;position:static;+position:relative;top:-50%;left:-50%;}

.downline{ height:0px; width:880px; margin:0 auto; border-bottom:1px solid #ddd;}

.news_r { width: 245px; float: right; overflow: hidden; margin-top: 15px; background: #fff; }
.news_r .box { overflow: hidden; }
.news_r .box .title { height: 2em; line-height: 2em; text-indent: .4em; color: #fff; font-size: 14px; font-weight: bold; background: #f09119; }
.news_r .box .title span { width: 12px; height: 9px; display: block; margin: 10px 0 0 7px; background: url('../../images/activity/activity-main.png') 0 -25px no-repeat; float: left; }
.news_r .box .content { border: 1px solid #d0d0d0; padding: 10px 0 15px; }
.news_r .box .content .c_main li { height: 2.5em; line-height: 2.5em; border-bottom: 1px dashed #d0d0d0; padding-left: 10px; list-style: disc inside; overflow: hidden; }

.page_line{margin-top:15px;}

.main{ background-color:#fff;padding-bottom:30px;}
.website{background-color:#e3e3e3; line-height:30px; height:30px; text-indent:10px;}

.expert_main{ width:899px; margin:20px auto; padding:15px 18px 0; background:#fff; overflow:hidden; }
.expert_main .e_view{ width:880px; margin:0 auto; }
.expert_main .e_view .r_title{ width:880px; height:28px; background-color:#f3f3f3; position:relative;}
.expert_main .e_view .r_title .title_ico{background:url(../images/expert_ico.png) no-repeat -94px 0px; display:block;width:110px; height:35px; position:absolute; left:-7px; top:0px; text-indent:28px; color:#fff; line-height:24px;}
.expert_main .e_view .r_title .title_ico2{background:url(../images/expert_ico.png) no-repeat -38px -67px; display:block;width:210px; height:35px; position:absolute; left:-7px; top:0px; text-indent:14px; color:#fff; line-height:24px;}
.expert_main .e_view .service_info{ width:878px; border:1px solid #dddddd; border-top:0px; margin-bottom:20px;}
.expert_main .e_view .s_content{ padding:10px;width:858px; height:auto; line-height:22px;}
.expert_main .e_view .s_content .contactus{ display:block; width:355px; height:30px; line-height:30px; float:left;}
.expert_main .e_view .s_content .contactus .c_title{ color:#0055ad;}

.expert_main .e_view .Info{ padding:20px;}
.expert_main .e_view .Info .infoview{ margin-left:30px; width:700px;}
.expert_main .e_view .Info .infoview .s_name{ color:#0055ad;}
.expert_main .e_view .Info .infoview .s_name span{letter-spacing:2em;}
.expert_main .e_view .Info .infoview .s_d_name{ color:#0055ad; margin-left:50px;}
.expert_main .e_view .Info .infoview .n_name{width:100px; display: inline-block;}
.expert_main .e_view .Info .infoview dl{height:16px; line-height:16px;}
.expert_main .e_view .Info .infoview dd{margin-bottom:5px;line-height:16px;}
.expert_main .e_view .Info .infoview dd .detail{ color:#f09215; float:right;}
.expert_main .e_view .Info .img_p{width:100px; height:140px; border:1px solid #dddddd; text-align:center;overflow:hidden;position:relative;display:table-cell;text-align:center;vertical-align:middle;}
.expert_main .e_view .Info p.img-box{position:static;+position:absolute;top:50%; width:100px;}
.expert_main .e_view .Info img{ max-width:100px; max-height:140px;position:static;+position:relative;top:-50%;left:-50%;}





