
.pmain{ margin:0 auto;padding-top:10px;background-color:#fff;}
.website{background-color:#fff; line-height:30px; height:30px; text-indent:40px;}

.typelist{ border:1px solid #dddddd; width:700px; margin:15px auto 20px; padding:0px 0px 5px; margin-top:1px;}

.typelist ul li{width:100%; border-bottom:1px solid #dddddd;overflow:hidden}
.typelist ul li.nobar{ border-bottom:0px;}
.typelist ul li .title{ display:block; width:100px; height:30px; line-height:30px; background:url(../images/project_ico.png) no-repeat 0 9px; text-indent:15px; float:left; margin-left:20px;color:#0055ad;}
.typelist ul li a{ display:block; height:30px; line-height:30px; float:left; margin-right:30px;font-size: 12px;}
.typelist ul li a.cur{ color:#dd2828;}

.needlist{width:700px;margin:10px auto;border:1px solid #dddddd;}
.needlist .Info{ padding:10px 20px;}
.needlist .Info .infoview{ margin-left:20px; width:720px; margin-top:2px;}
.needlist .Info .infoview .s_name{ color:#0055ad; float:left; width:80px;}
.needlist .Info .infoview .s_con{ display:block; float:left; width:200px;overflow: hidden;height: 20px;}
.needlist .Info .infoview .s_d_name{ color:#0055ad; margin-left:50px; float:left;}
.needlist .Info .infoview dl{height:18px; line-height:20px;}
.needlist .Info .infoview dd{margin-bottom:5px;line-height:20px;}
.needlist .Info .infoview dd .detail{ color:#dd2828; float:right;}
.needlist .Info .img_p{width:100px; height:100px; border:1px solid #dddddd; text-align:center;overflow:hidden;position:relative;display:table-cell;text-align:center;vertical-align:middle;}
.needlist .Info p.img-box{position:static;+position:absolute;top:50%; width:100px;}
.needlist .Info img{ max-width:100px; max-height:100px;position:static;+position:relative;top:-50%;left:-50%;}
.downline{ height:0px; width:880px; margin:0 auto; border-bottom:1px solid #ddd;}

.s_top{width:700px; height:40px; margin:0 auto; margin-left:10px;}
.s_bottom{width:700px; height:40px; margin:0 auto; margin-left:10px;}
.s_main{width:700px; margin:0 auto; margin-left:10px;}
.need{width:698px;margin:0px auto;border:1px solid #dddddd; border-top:0;}
.ntitle{ background:url(../images/need_t.png) repeat-x 0 1px; height:30px; line-height:29px; width:824px; margin:0 auto; text-indent:20px;}
.pname{ width:100px; text-align:center;}
.need .Info{ padding:20px;}
.need .Info .infoview{ margin-left:20px; width:530px; margin-top:2px;}
.need .Info .infoview .s_name{ color:#0055ad; float:left; width:80px;}
.need .Info .infoview .s_con{ display:block; float:left; width:120px;}
.need .Info .infoview .s_d_name{ color:#0055ad; margin-left:100px; float:left;}
.need .Info .infoview dl{height:18px; line-height:20px;}
.need .Info .infoview dd{margin-bottom:5px;line-height:20px;}
.need .Info .img_p{width:100px; height:100px; border:1px solid #dddddd; text-align:center;overflow:hidden;position:relative;display:table-cell;text-align:center;vertical-align:middle;}
.need .Info p.img-box{position:static;+position:absolute;top:50%; width:100px;}
.need .Info img{ max-width:100px; max-height:100px;position:static;+position:relative;top:-50%;left:-50%;}

.mar_top{ margin-top:30px;}
.need_content{ min-height:100px;border:1px solid #dddddd; border-top:0;width:668px;margin:0px auto; padding:15px;text-align:justify;text-justify:inter-ideograph; line-height:24px; margin-bottom:30px;}
.send_bnt{ width:174px; background:url(../images/shenbao.png) no-repeat; height:30px; cursor:pointer; margin:0px auto; color:#fff; text-align:center; line-height:30px;}



.main_w { font-size: 14px; }

.main_l{ width:700px; margin:15px auto 20px; padding:15px 18px 0; background:#fff; overflow:hidden; }

.main_l .main_top{width:697px; height:auto; border:1px solid #ddd; overflow:hidden; font-size:12px;}
.main_l .mt_filter{width:100%; padding:5px 0; line-height:1.5em; overflow:hidden;}
.main_l .mtf_exp{border-bottom:1px dotted #ddd;}
.main_l .mt_filter dt{width:50px; text-align:right; margin:3px 20px 0 0; float:left; font-weight:bold; }
.main_l .mt_filter dd{width:609px; float:left;}
.main_l .mt_filter dd.mtf_sub{width:749px; margin:3px 0 3px 113px; padding:2px 0 2px 2px; border:1px solid #ddd; display:none; }
.main_l .mt_filter dd a{padding:0 5px; margin:3px; display:block; float:left;}
.main_l .mt_filter dd a.all{margin-right:9px;}
.main_l .mt_filter dd a:hover, .mt_filter dd a.hover{background:#dd2828; color:#fff;}

.main_l .list_tab{width:700px; margin:0 auto; border-bottom:1px solid #dd2828; overflow:hidden; margin-top:20px;}
.main_l .list_tab .tt_title{background:#dd2828; color:#fff; width:110px; height:35px; line-height:35px; text-align:center;}

.main_l .search_view{ height:35px; width:202px; position:relative;}
.main_l .search_view .key_txt{ border:1px solid #ccc; width:200px; height:20px; padding:4px 0; line-height:20px; text-indent:0.5em;
                               box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); transition: border linear .2s,box-shadow linear .2s;}
.main_l .search_view .bnt_search{color:#bebebe; cursor:pointer; border-color:transparent; background:transparent; padding:5px 10px;
                                 line-height:15px; text-align:center; font-size:14px; position:absolute; top:0; right:0; }
.main_l .search_view .bnt_search:hover, .main_l .search_view .bnt_search:focus{color:#dd2828;}
.main_l .search_view .bnt_search .iconfont{font-family:"fontello"; font-style: normal;}
.main_r{ width:209px; margin-top:15px; overflow:hidden; background:#fff; padding:15px 18px; }

.main_r .r_title{ font-size:14px; font-weight:bold; }
.main_r .rt_img{ width: 209px; height:209px; margin-top: 15px;}
.main_r .rt_img .img_p{width:207px; height:207px; border:1px solid #dddddd; text-align:center;overflow:hidden;position:relative;display:table-cell;text-align:center;vertical-align:middle;}
.main_r .rt_img p.img-box{position:static;+position:absolute;top:50%; width:207px;}
.main_r .rt_img img{ max-width:207px; max-height:207px;position:static;+position:relative;top:-50%;left:-50%;}
.main_r dl{ background:#f4f4f4; padding:15px;}
.main_r dl dt{ line-height:2em; font-size:14px; margin-bottom:5px; }
.main_r dl a{ color:#0055ad; }
.main_r dl a:hover{text-decoration:underline;}
.main_r dl dd{line-height:1.8em;}
.main_r dl dd .d_title{color:#999;}



.s_main .r_title {
  width: 700px;
  margin: 0px auto;
  height: 28px;
  background-color: #f3f3f3;
  position: relative;
}


.s_main .r_title .title_ico {
  background: url(../images/expert_ico.png) no-repeat -94px 0px;
  display: block;
  width: 110px;
  height: 35px;
  position: absolute;
  left: -7px;
  top: 0px;
  text-indent: 28px;
  color: #fff;
  line-height: 24px;
}

.s_main .r_title .title_ico2 {
  background: url(../images/expert_ico.png) no-repeat -38px -67px;
  display: block;
  width: 210px;
  height: 35px;
  position: absolute;
  left: -7px;
  top: 0px;
  text-indent: 14px;
  color: #fff;
  line-height: 24px;
}