<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:redis="http://www.springframework.org/schema/redis"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="classpath:shiro-client.properties,classpath:config.properties" />


	<!-- 扫描注解Bean -->
    <context:component-scan base-package="com.gsccs.sme">
       <!--  <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->
    </context:component-scan>
    
	<import resource="classpath:dubbo-server-site.xml" />
	<import resource="classpath:spring-shiro-cas.xml" />
	<import resource="classpath:spring-redis.xml" />
	<!-- 
	<import resource="classpath:spring-freemarker.xml" /> 
	 -->
	<bean class="com.gsccs.sme.web.util.SpringUtils" />
	
</beans>